.container{
    background-color: darkgoldenrod;
    padding: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 70px;
}
.form-container{
    display: inline-block;
}

.button-container {
    display: flex;
    gap: 10px;
}

.button-container input[type="button"] {
    padding: 8px 15px;
    background-color: goldenrod;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.button-container input[type="button"]:hover {
    background-color: darkorange;
}

body {
    margin: 0; 
    padding: 0;
    background-color:rgba(218, 165, 32, 0.668);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.címközép{
    text-align: center;
    padding-top: 4px;
    font-size: 30px;
}
.bekezdés{
    text-align: center;
    padding-top: -5px;
    font-size: 18px;
}

.kisbehuzas{
    color: darkgoldenrod;
    font-size: 35px;
    text-align: left;
}

#focim{
    font-size: 30px;
    text-align: center;
    padding-top: 4px;
}

.underline{
    text-decoration: underline;
    text-decoration-color: darkgoldenrod;
    text-decoration-thickness: 4px;
    text-underline-offset: 5.2px;
    padding-top: 20px;
    font-size: 24px;
}

section{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 120px;
    gap: 150px;
    display: flex;
    
}
    section .szoveg{
        font-size: 18px;
        color: black;
        text-align: left;
    }

    section .kep{
        justify-content: right;
    }
    section .bal{
        justify-content: left;
    }

.alcim{
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
